body {
    height: 100vh;
}

#header {
    height: 10%;
}
#main {
    height: 80%;
}

#footer {
  color: white;
    height: 10%;
    padding-left: 2em;
}
.container{
  padding: 0;
  width: 100%;
}
.container-days{
padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* border: 1px solid black; */
  
}
.col{
    border: 1px solid rgb(255, 255, 255);
    height: 10vh;

    background-color: white;
}

.today{
background-color: rgba(0, 255, 174, 0.617) !important;
border: 0.15rem solid rgb(255, 255, 255);
}
.weekDay{
  background-color: rgba(61, 251, 197, 0.38);
  backdrop-filter: blur(3px) saturate(200%);
  -webkit-backdrop-filter: blur(3px) saturate(200%);
  color: white;
  height: 4em;
  box-shadow: 0px 2px 10px 1px white;
}
.colHov:hover{
  cursor: pointer;
  transform: scale(1.0, 1.05);

}

.inactive{
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.504);
  backdrop-filter: blur(3px) saturate(200%);
  -webkit-backdrop-filter: blur(3px) saturate(200%);
  color: white;
  box-shadow: 0px 2px 10px 1px white;
  padding-left: 1em ;
}
.colHov{
  background-color: rgba(0, 0, 0, 0.211);
  backdrop-filter: blur(3px) saturate(200%);
  -webkit-backdrop-filter: blur(3px) saturate(200%);
  color: white;
  box-shadow: 0px 2px 10px 1px white;
  padding-left: 1em ;
}





.tittle-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.arrow-button-left {
  position: relative;
  padding: 10px 20px;
  background-color: #00070f00; /* Button background color */
  color: #fff; /* Text color */
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.arrow-button-left::before {
  content: "";
  position: absolute;
  left: 5vw; 
  top: 33vh;
  border-width: 50px;
  border-style: solid;
  border-color: transparent transparent transparent #000000; /* Arrow color */
  transform: translateY(-50%);
  transform: rotate(180deg);
}

.arrow-button-right {
  position: relative;
  padding: 10px 20px;
  background-color: #007bff00; /* Button background color */
  color: #fff; /* Text color */
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.arrow-button-right::before {
  content: "";
  position: absolute;
  left: -8vw; 
  top: 37vh;
  border-width: 50px;
  border-style: solid;
  border-color: transparent transparent transparent #000000; /* Arrow color */
  transform: translateY(-50%);
}


#eventTitle_container {
    display: block;
}

.errorMessage {
    text-align: left;
    font-size: smaller;
    color: red;
  
}

.calendarDayTittle{
  color: white;
  font-size: 2.5em;
  margin: 0.5em;
}

.todayButton{
  background-color: rgba(40, 255, 7, 0.122);
  color: white;
  backdrop-filter: blur(3px) saturate(200%);
  -webkit-backdrop-filter: blur(3px) saturate(200%);
  box-shadow: 0px 1px 10px 1px white;
  border: solid 1px white;
  width: 20em;
  height: 2em;
  font-size: 1.5em;
  position: absolute;
  top: 85vh;
  left: 40vw;
}