body {
    background-color: antiquewhite;
    height: 100vh;
}

#header {
    background-color:lightcoral;
    height: 10%;
}
#main {
    height: 80%;
}

#footer {
    background-color: lightcoral;
    height: 10%;
}


#eventTitle_container {
    display: block;
}

.formArticle {
    display:block;
    padding: 0.5rem;
    gap: 0;
}
.errorMessage {
    margin: 0;
    text-align: left;
    font-size: smaller;
    color: red;
}
